.App{
  min-height: 100vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);;
}

.search-form{
  min-height: 20vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width:50%;
  border: none;
  padding:15px;

}

.search-button{
  background: plum;
  border:none;
  padding:15px 20px;
  color:white;
}

.Recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}